# Ignore environment file with sensitive data
.env

# Ignore secrets directory with sensitive data
secrets/

# Ignore Docker-related files
*.log
docker-compose.override.yml

# Ignore editor and OS files
.vscode/
.idea/
*.swp
.DS_Store

# Ignore temporary files
*.tmp
*.bak

# tsauthkey
tsauthkey

# Ignore ollama-deploy.md
ollama-deploy.md
